In [1]:
import pandas as pd

In [3]:
file_path = '../../../data/data_deep_dive/numerical_data_columns/numerical_fields_statistics.csv'
df = pd.read_csv(file_path)

In [4]:
df

,table,field,count,mean,median,mode,min,max,std,cardinality,q1,q3,iqr,relative_min,relative_max,na_count
0,PART,P_SIZE,200000,25.427105,25.000,10.00,1.00,50.00,14.441559,50,13.0000,38.0000,25.0000,-24.50000,75.50000,0
1,PART,P_RETAILPRICE,200000,1499.496000,1499.495,909.00,901.00,2098.99,294.673834,20899,1249.2475,1749.7425,500.4950,498.50500,2500.48500,0
2,SUPPLIER,S_ACCTBAL,10000,4510.354865,4541.065,-192.70,-998.22,9999.72,3168.079218,9955,1770.7175,7270.6350,5499.9175,-6479.15875,15520.51125,0
3,PARTSUPP,PS_AVAILQTY,800000,5003.226934,5003.000,3100.00,1.00,9999.00,2885.557591,9999,2506.0000,7499.0000,4993.0000,-4983.50000,14988.50000,0
4,PARTSUPP,PS_SUPPLYCOST,800000,500.525798,500.410,144.43,1.00,1000.00,288.147954,99865,250.8100,750.2425,499.4325,-498.33875,1499.39125,0
5,CUSTOMER,C_ACCTBAL,150000,4495.512332,4477.300,-216.13,-999.99,9999.99,3174.322370,140187,1757.6200,7246.3150,5488.6950,-6475.42250,15479.35750,0
6,ORDERS,O_TOTALPRICE,1500000,151219.537632,144409.040,27242.17,857.71,555285.16,88621.431364,1464556,77894.7475,215500.2250,137605.4775,-128513.46875,421908.44125,0
7,ORDERS,O_SHIPPRIORITY,1500000,0.000000,0.000,0.00,0.00,0.00,0.000000,1,0.0000,0.0000,0.0000,0.00000,0.00000,0
8,LINEITEM,L_QUANTITY,6001215,25.507967,26.000,35.00,1.00,50.00,14.426263,50,13.0000,38.0000,25.0000,-24.50000,75.50000,0
9,LINEITEM,L_EXTENDEDPRICE,6001215,38255.138485,36718.640,36036.00,901.00,104949.50,23300.438711,933900,18739.1000,55158.9400,36419.8400,-35890.66000,109788.70000,0
10,LINEITEM,L_DISCOUNT,6001215,0.049999,0.050,0.05,0.00,0.10,0.031620,11,0.0200,0.0800,0.0600,-0.07000,0.17000,0
11,LINEITEM,L_TAX,6001215,0.040014,0.040,0.06,0.00,0.08,0.025817,9,0.0200,0.0600,0.0400,-0.04000,0.12000,0

In [6]:
df['max_outliers'] = df.apply(lambda x: x['max'] > x.relative_max, axis = 1)
df['min_outliers'] = df.apply(lambda x: x['min']< x.relative_min, axis = 1)
df

,table,field,count,mean,median,mode,min,max,std,cardinality,q1,q3,iqr,relative_min,relative_max,na_count,max_outliers,min_outliers
0,PART,P_SIZE,200000,25.427105,25.000,10.00,1.00,50.00,14.441559,50,13.0000,38.0000,25.0000,-24.50000,75.50000,0,False,False
1,PART,P_RETAILPRICE,200000,1499.496000,1499.495,909.00,901.00,2098.99,294.673834,20899,1249.2475,1749.7425,500.4950,498.50500,2500.48500,0,False,False
2,SUPPLIER,S_ACCTBAL,10000,4510.354865,4541.065,-192.70,-998.22,9999.72,3168.079218,9955,1770.7175,7270.6350,5499.9175,-6479.15875,15520.51125,0,False,False
3,PARTSUPP,PS_AVAILQTY,800000,5003.226934,5003.000,3100.00,1.00,9999.00,2885.557591,9999,2506.0000,7499.0000,4993.0000,-4983.50000,14988.50000,0,False,False
4,PARTSUPP,PS_SUPPLYCOST,800000,500.525798,500.410,144.43,1.00,1000.00,288.147954,99865,250.8100,750.2425,499.4325,-498.33875,1499.39125,0,False,False
5,CUSTOMER,C_ACCTBAL,150000,4495.512332,4477.300,-216.13,-999.99,9999.99,3174.322370,140187,1757.6200,7246.3150,5488.6950,-6475.42250,15479.35750,0,False,False
6,ORDERS,O_TOTALPRICE,1500000,151219.537632,144409.040,27242.17,857.71,555285.16,88621.431364,1464556,77894.7475,215500.2250,137605.4775,-128513.46875,421908.44125,0,True,False
7,ORDERS,O_SHIPPRIORITY,1500000,0.000000,0.000,0.00,0.00,0.00,0.000000,1,0.0000,0.0000,0.0000,0.00000,0.00000,0,False,False
8,LINEITEM,L_QUANTITY,6001215,25.507967,26.000,35.00,1.00,50.00,14.426263,50,13.0000,38.0000,25.0000,-24.50000,75.50000,0,False,False
9,LINEITEM,L_EXTENDEDPRICE,6001215,38255.138485,36718.640,36036.00,901.00,104949.50,23300.438711,933900,18739.1000,55158.9400,36419.8400,-35890.66000,109788.70000,0,False,False
10,LINEITEM,L_DISCOUNT,6001215,0.049999,0.050,0.05,0.00,0.10,0.031620,11,0.0200,0.0800,0.0600,-0.07000,0.17000,0,False,False
11,LINEITEM,L_TAX,6001215,0.040014,0.040,0.06,0.00,0.08,0.025817,9,0.0200,0.0600,0.0400,-0.04000,0.12000,0,False,False